{% extends "layout.html" %}

{% block styles %}
{% endblock %}
{% block body %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>About Me</h1>
        <p>
I'm a graduate from the University of California, Santa Barbara. I graudated with an MS in Electrical Engineering with an emphasis in Control Sytems. I have a strong interest in control systems, audio amplification, programming, and website design. </p>

<h1>Hobbies</h1>
<p>
I have so many hobbies it's really hard to remember them all. I like to learn new things. Anything that challenges my mind is something I want to do and get better at, which is why I love programming. As far as sports go, I enjoy playing tennis, basketball, and golf. I'm sort of a beginner at golf, but I'm trying to get better. </p>
      </div>
{% endblock %}
{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function() {
      $("#aboutMI").addClass("active");
    });
  </script>
{% endblock %}